<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <import uri="C:\unamur\Master\memoire\SPL\main\featureModel.xml"/>
    <!--<import uri="https://github.com/sebiba/memoirePOC/blob/main/FeatureModel.xml"/>-->
    <SpringAspect name="logging"/>
    <SpringPreprocessor name="SGBD" />
    <Delta name="liker" />
    <Plugin name="recherche" />
</Configuration>